{
 :archive-group-format         "yyyy MMMM"
 :author                       "Gary Verhaegen"
 :author-root-uri              "authors"
 :blocks-per-preview           2
 :blog-prefix                  ""
 :clean-urls                   :trailing-slash
 :description                  "Blog on software engineering, mostly."
 :description-include-elements #{:p :h1 :h2 :h3 :h4 :h5 :h6}
 :disqus-shortname             ""
 :disqus?                      false
 :hide-future-posts?           true
 :ignored-files                [#"\.#.*" #".*\.swp$"]
 :keep-files                   [".git"]
 :klipse                       {}
 :page-root                    "pages"
 :page-root-uri                "pages"
 :post-date-format             "yyyy-MM-dd"
 :post-root                    "posts"
 :post-root-uri                "posts"
 :posts-per-page               5
 :previews?                    false
 :public-dest                  "public"
 :recent-posts                 3
 :resources                    ["img"]
 :rss-filters                  []
 :rss-name                     "feed.xml"
 :sass-path                    "sass"
 :sass-src                     []
 :site-title                   "Cuddly, Octo-Palm Tree"
 :site-url                     "https://cuddly-octo-palm-tree.com"
 :tag-root-uri                 "tags"
 :theme                        "blue"
 }
