{% extends "/html/base.html" %}
{% block content %}
<div id="post">
    {% include "/html/post-content.html" %}
    {% if disqus? %}
    <div id="comments">
        <a href="{{article.uri}}#disqus_thread">View Comments</a>
    </div>
    {% endif %}

    <div id="prev-next">
        {% if article.next %}
        <a href="{{article.next.uri}}">&laquo; {{article.next.title|safe}}</a>
        {% endif %}
        {% if article.prev %}
        <a class="right" href="{{article.prev.uri}}">{{article.prev.title|safe}} &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
