<div class="post-header">
    <div id="post-meta" class="row">
        <div class="col-lg-6">{{article.date|date:longDate}}</div>
        {% if article.author %}
        <span class="col-lg-6 right">By: {{article.author}}</span>
        {% endif %}
    </div>
    <h2>{{article.title|safe}}</h2>
</div>
<div>
    {% if article.toc %}{{article.toc|safe}}{% endif %}
    {% if article.image %}
    <p>
        {% if article.prev %}
        <a href="{{article.prev.uri}}">
        {% endif %}
      <img src="{{ article.image }}"
           alt="{% if article.alt %}{{ article.alt }}{% else %}{{article.title}}{% endif %}"
           >
        {% if article.next %}
        </a>
        {% endif %}
    </p>
    {% endif %}
    {{article.content|safe}}
</div>
{% if article.tags|not-empty %}
<div id="post-tags">
    <b>Tags: </b>
    {% for tag in article.tags %}
    <a href="{{tag.uri}}">{{tag.name}}</a>
    {% endfor %}
</div>
{% endif %}
